/*Korak 1*/

body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("bg.jpg");
    background-size: cover;
    animation: color-change 2s linear infinite
}

@keyframes color-change {
    0% {
        filter:hue-rotate(0deg)
    }
    50% {
        filter: hue-rotate(360deg);
    }
    100% {
        filter: hue-rotate(0deg)
    }
}

/*Korak 2*/
section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom:0;
    background: url("rain.png");
    animation: rain 0.5s linear infinite;
}

@keyframes rain{
    0%{
        background-position: 0 0;
    }
    100% {
        background-position: 20% 100%;
    }
}